<% if valid_token? %>
  <div>
    <p>Select the languages you want displayed on the Hunt Library MicroTile Immersion Theater wall.</p>
    <%= form_tag api_submit_path, id: :languages_checkboxes_form do %>
      <ul id="languages">
        <% WIKIPEDIA_LANGUAGES.each do |language| %>
          <li>
            <%= check_box_tag "language[#{language[0]}]", "1", @enabled_languages[language[0]] ? true : false %>
            <%= label_tag "language[#{language[0]}]", language[1] %>
          </li>
        <% end %>
      </ul>
      <span id="submit_btn">
      <%= submit_tag 'Submit', class: [:submit_btn, :btn, 'btn-large', 'btn-success'], id: :submit_button_for_languages_checkboxes %>
      </span>
    <% end %>
  </div>
<% else -%>
  <p>To control the Hunt wall you must enter the 3 character token on the wall.</p>
  <div id="token_form_div">
    <%= form_tag api_submit_token_path, id: :token_form do %>
      <%= text_field_tag(:token, nil, autocapitalize:"off", autocorrect: "off", maxlength: 3, id: 'token_input') %>
      <%= submit_tag 'Submit' %>
    <% end %>
  </div>
  <p>Or <%= link_to 'See current changes', changes_path %></p>
<% end %>
